.main-container {
    margin-top: 20vh;
    display: flex;
    width: 100%;
    align-items: stretch;
  flex: 1 0 auto;
}

.container-left {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
.container-middle {
    width: 100%;
}
.container-right {
    min-width: 250px;
}

@media (max-width: 768px) {
    .container-left {
        position: fixed;
        left: -100%;
       
    }

    .container-left.active {
        top: 0;
        left: 0;
        transition: 1s;
        z-index: 100;
    }

    .container-right {
        display: none;
    }
}
